//KaidanFit common.scss
//All the variables, mixings and functions


//Fonts
$primary_font: 'Montserrat',sans-serif; //For text and stuff
$secondary_font: 'Raleway',sans-serif; //For navigation
$logo_font: 'Heebo', sans-serif; //For Titles
//Colors
$primary_color: #25cff5;
$secondary_color: #818181;


$white_color: rgba(255, 255, 255, 0.733);
$black_color: #333;

$text-color: #2f2f30;

//Media Queries
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$medium_device: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px)';


//Commons
:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

body,
html{
    width: 100%;
    height: 100%;
    font-family: $primary_font;
    line-height: 1.6rem;
    scroll-behavior: smooth;
    overflow-x: visible;
}



h1,
h2,
h3 {
    font: 600 2.5rem $primary_font $black_color;
    line-height: 1.4;
}

p {
    font: 400 1.4rem/1.625rem $primary_color $text-color;
}

a {
    color: $black_color;
    text-decoration: none;
}

//Scrollbar

body::-webkit-scrollbar {
    width: 0.85rem;
}

body::-webkit-scrollbar-track {
    background: $black_color;

}

body::-webkit-scrollbar-thumb {
    background: $primary_color;
    width: 1.85rem;
}