//KaidanFit common.scss
//All the colors, fonts, variables, mixings and functions


//Fonts
$primary_font: 'Poppins', sans-serif; //For Titles 300, 400
$secondary_font: 'Roboto', sans-serif; //For text and stuff 300, 400
//Colors
$primary_color: #FEE715;
$secondary_color: #818181;


$white_color: rgba(226, 221, 221, 0.733);
$black_color: #333;

$text-color: #2f2f30;

//Media Queries
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$medium_device: 'only screen and (min-width: 992px) and (max-width: 1200px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px)';


//Commons
:root {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,
html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: visible;
    background-color: rgba(231, 231, 231, 0.2);

}



h1,
h2,
h3,
h4,
h5 {
    font: 400 2rem $primary_font;
    color: $black_color;
}

p {
    font-family: $secondary_font;
    color: $black_color;
    font-weight: 400;
}

a {
    color: $black_color;
    font-family: $secondary_font;

    text-decoration: none;
}


button {
    appearance: none;
    background: transparent;
    /* Other styles */
  }



















//Scrollbar

body::-webkit-scrollbar {
    width: 0.85rem;
}

body::-webkit-scrollbar-track {
    background: $black_color;

}

body::-webkit-scrollbar-thumb {
    background: $primary_color;
    width: 1.85rem;
}