//TAB BAR AT THE BOTTOM
#bottom-tab-bar {
  position: fixed;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: row nowrap;
  justify-content: space-evenly;
  height: 0;

  //Media queries
  @media #{$xs_mobile, $sm_mobile, $large_mobile} {
    height: 3.3rem;
    overflow: visible;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 5px 0px rgba(176, 176, 176, 1);
    z-index: 860;
  }

  label {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }

  //Botton nav
  .tab-bar-link {
    overflow: visible;
    z-index: 870;
    list-style: none;
    text-decoration: none;
    text-transform: capitalize;
    color: $black_color;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-top: 4px;
    font: 600 13px $secondary_font;

    #nav-1,
    #nav-2,
    #nav-3 {
      display: none;
    }

    i {
      font-size: 1.8em;
    }

    //Menu toggle menus
    .toggle-menu {
      position: fixed;
      bottom: 3.3rem;
      left: 0;
      right: 0;
      z-index: 899;
      background: #fff;
      transition: height 100ms ease;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;

      li {
        text-align: center;
        width: 100%;
        color: $black_color;
        padding: 1em;
        border-bottom: 1px solid rgb(212, 210, 210);

        .dropup-links {
          color: $black_color;
        }
      }
    }

    #nav-checks {
      cursor: pointer;
    }

    //Styling for inputs
    #fitness-menu {
      height: 0;
    }

    #beslenme-menu {
      height: 0;
    }

    #saglik-menu {
      height: 0;
    }

    //Inputs for menu toggle

    #nav-1:checked~label {
      color: $primary_color;
      overflow: auto;

      ul {
        height: 111px;

      }
    }

    #nav-1:checked~#fitness-menu {
      height: auto;
    }

    #nav-2:checked~label {
      color: $primary_color;
      overflow: auto;

      ul {
        height: auto;
      }

    }

    #nav-2:checked~#beslenme-menu {
      height: auto;
    }

    #nav-3:checked~label {
      color: $primary_color;
      overflow: auto;
    }

    #nav-3:checked~#saglik-menu {
      height: auto;
    }
  }

  //HAMBURGER MENU CONTANIER
  &:last-child {
    overflow: visible;
    z-index: 990;

    //The input
    input {
      display: none;
    }

    //Ham icon
    label {
      margin: auto 0;
      position: relative;
      z-index: 900;
      cursor: pointer;

      b {
        width: 40px;
        height: 40px;
        display: block;
        position: relative;
        cursor: pointer;
        transition: background 200ms ease;

        i {
          display: block;
          background: #333;
          width: 24px;
          height: 4px;
          position: absolute;
          left: 8px;
          top: 11px;
          border-radius: 2px;
          transform-origin: 20px 4px;
          transition: transform 200ms cubic-bezier(0.09, 0.92, 0, 1.435),
            opacity 500ms ease;

          &:nth-child(2) {
            top: 18px;
          }

          &:nth-child(3) {
            transform-origin: 26px 4px;
            top: 25px;
          }
        }
      }
    }

    //Ham menu
    #ham-menu {
      background: #fff;
      width: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      opacity: 0;

      li {
        border-top: #a9a9a9a9 1px solid;
        margin: 0;
        list-style: none;
        width: 100%;
        height: 3.5rem;

        //Social Media Buttons
        &:nth-child(4) {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;

          a {
            img {
              height: 1.8em;
              padding-left: 1.2em;
            }
          }
        }

        //Ham link
        a {
          align-items: center;
          padding: 10px 0;
          font: 500 16px $secondary_font;
          text-transform: capitalize;
          text-decoration: none;
          text-align: center;
          color: $black_color;
          display: block;
          border-bottom: rgba(255, 255, 255, 0.2) 1px solid;

          &:hover {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    #nav:checked~label {

      //Hamburger icon animation
      b {
        transition-delay: 100ms;

        i {
          background-color: $primary_color;

          &:nth-child(1) {
            transform: rotate(45deg) translate(6px, 11px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(10px, -14px);
          }
        }
      }
    }

    //Input check for ham menu
    #nav:checked~#ham-menu {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 13rem;
      height: 20rem;
      transition: width 200ms ease;
      opacity: 1;
    }
  }
}

/////////////////////////////////////////////

//MAIN NAV BAR
.nav-bar {
  background: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 1rem 0;
  width: 100%;
  height: 4rem;
  transition: 0.4s;
  display: none;
  z-index: 99;

  @media #{$tab_device, 
 $medium_device,
  $big_screen,
  $extra_big_screen
}

  {
  display: block;
}

//Logo
#brand-logo {
  float: left;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 45px;
  font-family: $logo_font;
  line-height: 50px;
  overflow: hidden;
  color: #333;
  z-index: 777;
  transition: height 300ms, background 300ms;

  //Logo effect
  #logo-effect {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 100%;
    height: 60%;
    max-width: 0;
    background: rgb(255, 255, 255);
    opacity: 0.4;
    filter: alpha(opacity=40);
    transition: none;
  }

  #spann {
    color: #fff;
    background: $primary_color;
    font-style: italic;
    font-weight: 500;
    padding: 4px 0;

    #dot {
      color: $black_color;
      font-weight: 600;
    }
  }
}

//Effect happening
#brand-logo:hover #logo-effect {
  z-index: 333;
  max-width: 16rem;
  background: rgb(241, 241, 241);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 0.6s ease-out;
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .nav-row {
    color: $black_color;

    .dropdown {
      text-align: center;
      position: fixed;
      top: 4rem;
      margin-left: -2em;
      border-radius: 4px;
      background-color: white;
      transition: all 200ms ease;
      height: 0;
      opacity: 0;
      width: auto;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #dddbdb;
        height: 3em;

        &:hover {
          background-color: #f8f7f7;
        }

        .dropdown-links {
          font-size: 0.9rem;
          color: $text_color;
          display: inline-flex;
          font-family: $secondary_font;
          text-decoration: none;
          margin: auto 2em;
        }
      }

      &:hover {
        height: auto;
        opacity: 1;

      }
    }

    //Nav links
    .nav-link {
      display: inline-flex;
      align-items: center;
      flex-flow: nowrap;
      font-weight: 400;
      font-size: 1.1em;
      transition: all 200ms ease;
      color: $black_color;
      font-family: $primary_font;
      padding: 1em;

      &:hover {
        color: rgb(83, 82, 82);
      }

      //Chevron
      i {
        font-size: 1em;
        margin-bottom: -3px;
        margin-left: 4px;
      }

      &:hover~.dropdown {
        height: auto;
        opacity: 1;
      }
    }
  }
}
}


//Shrink on scroll down
.nav-bar.scrolled {
  min-height: 30px;
  background: rgb(255, 255, 255);
  transition: 0.35s all ease-in;

  #brand-logo {
    font-size: 35px;
    line-height: 40px;
    transition: 0.25s all ease;
  }

  #nav-menu {
    margin-top: -10px;
    transition: 0.25s all ease-in;
  }
}

body {
  height: 1000px;
  width: 100%;
  background-color: #eee;
}

//Button for returning to top
#button-up {
  display: inline-block;
  background-color: #ff9800;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.2s, opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 600;

  @media #{$xs_mobile, $sm_mobile, $large_mobile} {
    bottom: 60px;
    width: 30px;
    height: 30px;
  }
}

#button-up::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 40px;
  color: #fff;

  @media #{$xs_mobile, $sm_mobile, $large_mobile} {
    line-height: 30px;
    font-size: 1.5em;
  }
}

#button-up:hover {
  cursor: pointer;
  background-color: #333;
}

#button-up:active {
  background-color: #555;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}