

/////////////////////////////////////////////

//MAIN NAV BAR
.nav-bar {
  background: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding: 1rem 0;
  width: 100%;
  transition: 0.4s;
  display: none;
  z-index: 99;

  @media #{$tab_device, 
 $medium_device,
  $big_screen,
  $extra_big_screen
}

  {
  display: block;
  height: 6rem;
}

//Logo
#brand-logo {
  display: block;
  float: left;
  margin-left: 1rem;
  margin-top: -0.5rem;
  transition: all 0.5s;
 
  &:hover {
    transform: scale(1.1);  }
  img {
    width: 13rem;

  }
}

#nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .nav-row {
    color: $black_color;

    //Navbar link dropdowns
    .dropdown {
      text-align: center;
      position: fixed;
      top: 4rem;
      margin-left: -2em;
      border-radius: 4px;
      background-color: white;
      height: 0;
      width: auto;
      opacity: 0;
      border: 1px solid rgba(51, 51, 51, 0.479);


      li {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #dddbdb;
        height: 3em;
        overflow: visible;

        &:hover {
          background-color: #f8f7f7;
        }

        .dropdown-links {
        
          color: $text_color;
          display: inline-flex;
          font: 300 16px $primary_font;
          text-decoration: none;
          margin: auto 2em;
        }
      }

      &:hover {
        height: auto;
        opacity: 1;

      }
    }

    //Nav links
    .nav-link {
      display: inline-flex;
      align-items: center;
      flex-flow: nowrap;
      font-weight: 400;
      font-size: 1.1em;
      transition: all 200ms ease;
      color: $black_color;
      font-family: $primary_font;
      padding: 1em;

      &:hover {
        color: rgb(0, 0, 0);
      }

      //Chevron
      i {
        font-size: 1em;
        margin-bottom: -3px;
        margin-left: 4px;
      }

      &:hover~.dropdown {
        height: auto;
        opacity: 1;

      }
    }
  }
}
}


//Shrink top navbar on scroll down
.nav-bar.scrolled {
  height: 4rem;
  background: rgb(255, 255, 255);
  transition: 0.35s all ease-in;

  #brand-logo {
    img {
      width: 10rem;
      transition: width .35s ease-in-out;

    }
  }

  #nav-menu {
    margin-top: -10px;
    transition: 0.25s all ease-in;
  }
}

//Button for returning to top
#button-up {
  display: inline-block;
  background-color: $primary_color;
  width: 40px;
  height: 40px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.2s, opacity 0.3s, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 600;

  @media #{$xs_mobile, $sm_mobile, $large_mobile} {
    right: 15px;
    bottom: 65px;
    width: 30px;
    height: 30px;
  }
}

#button-up::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 40px;
  color: #7a7a7a;

  @media #{$xs_mobile, $sm_mobile, $large_mobile} {
    line-height: 30px;
    font-size: 1.5em;
  }
}

#button-up:hover {
  cursor: pointer;
  background-color: #333;
}

#button-up:active {
  background-color: #555;
}

#button-up.show {
  opacity: 1;
  visibility: visible;
}

