//Logo for mobile
#mobile-brand {

    padding: 0;
    position: fixed;
    left: 1rem;
    top: 1rem;
    display: none;

    @media #{$xs_mobile, $sm_mobile, $large_mobile} {
        display: block;
    }

    //Logo effect
    #logo-effect {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        max-width: 0;
        background: rgb(255, 255, 255);
        opacity: 0.4;
        filter: alpha(opacity=40);
        transition: none;
    }

    a {
        font-weight: 900;
        font-size: 40px;
        padding: 0;
        opacity: 0.95;
        line-height: 1em;
        overflow: hidden;
        transition: 300ms all ease-in;
        color: #333;

        #spann {
            color: #fff;
            background: $primary_color;
            font-style: italic;
            font-weight: 500;
            padding: 4px;
        }

        #dot {
            color: $black_color;

        }


    }
}

//Effect happening
#brand:hover #logo-effect {
    z-index: 333;
    max-width: 150%;
    background: rgb(241, 241, 241);
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s ease-out;
}






//JUMBOTRON
#jumbotron {
    margin-top: 5rem;
    margin-left: 3rem;
    text-align: center;
    align-items: center;

    float: left;
    width: 60%;

    @media #{$xs_mobile, $sm_mobile} {
        width: 80%;
        float: none;
        margin-top: 8rem;
    }
    @media #{$large_mobile} {

        margin-top: 12rem;
    }

    //Main image for mobile
    #mobile-main-image {
        display: flex;
        justify-content:center;

        object {
            width: 35vh;
            display: block;
            display: none;
            margin-bottom: 2rem;
            @media #{$xs_mobile, $sm_mobile} {
                display: block;
                margin-bottom: 1rem;
            }
            @media #{$xs_mobile} {
                width: 30vh;
            }
        }

       
    }

    h1 {
        margin-bottom: 1em;
        overflow: visible;
        font-family: $primary_font;
        font-size: 3rem;
        font-weight: 900 !important;

        @media #{$large_mobile} {
            font-size: 2rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.9rem;
        }

        @media #{$xs_mobile} {
            font-size: 1.7rem;
            margin-bottom: 0.2em;
        }
    }

    h3 {
        font-weight: 400;
        overflow: visible;
        color: #333;

        @media #{$large_mobile} {
            font-size: 1.6rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.5rem;
        }

        @media #{$xs_mobile} {
            font-size: 1.3rem;
        }
    }

 /*    p {
        font-size: 20px;

        @media #{$large_mobile} {
            font-size: 1.3rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.2rem;
        }

        @media #{$xs_mobile} {
            font-size: 1.1rem;
        }
    } */

    .myButton {
        box-shadow: 2px 3px 0px 0px #bbbdbb;
        background-color: $primary_color;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Trebuchet MS;
        font-size: 16px;
        font-weight: bold;
        margin-top: 2rem;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 21px #b3b3b3;
        @media #{$xs_mobile, $sm_mobile} {
            margin-top: 1rem;

        }
    }

    .myButton:hover {
        background-color: rgb(9, 145, 179);
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

}