

main {
    margin: 0;
    width: 100%;
    height: 120vh;
    background-image: url(/assets/img/landing-page/main-photo.png);
    background-position: center;
    background-size: cover;


    @media #{$sm_mobile, $xs_mobile} {
        background-image: none;
        height: 100vh;
        @keyframes color-change-5x {
            0% {
              background: #19dceaad;
            }
            25% {
              background: #b22cffad;
            }
            50% {
              background: #ea2222ad;
            }
            75% {
              background: #f5c010ad;
            }
            100% {
              background: #3cd80daf;
            }
          }
          
        animation: color-change-5x 15s linear 1s infinite alternate both;

    }


}


//Logo for mobile
#brand-logo {
    margin-top: 1em;
    margin-left: 1em;
    display: none;

    img {
        width: 10rem;
    }

    @media #{$xs_mobile, $sm_mobile, $large_mobile} {
        display: block;

    }


}



//JUMBOTRON
#jumbotron {
    margin-top: 15rem;
    margin-left: 3rem;
    text-align: center;
    align-items: center;
    float: left;
    width: 60%;

    @media #{$xs_mobile, $sm_mobile} {
        width: 90%;
        margin-top: 2rem;
        float: none;
        margin-left: 1rem;

    }

    @media #{$large_mobile} {
        width: 65%;
        margin-top: 10rem;

    }


    @media #{$tab_device} {
        width: 65%;
        margin-top: 15rem;
        margin-left: 1rem;

    }

    @media #{$medium_device} {
        width: 65%;
        margin-top: 12rem;
        margin-left: 1rem;

    }




    //Main image for mobile
    #mobile-main-image {
        display: flex;
        justify-content: center;
        display: block;
        display: none;
        margin-bottom: 1rem;
        margin-top: 2rem;


        @media #{$xs_mobile, $sm_mobile} {
            display: inline-block;
            margin-bottom: 1rem;
            width: 13rem;

        }



    }

    h1 {
        color: $black_color;
        margin-bottom: 1rem;
        overflow: visible;
        font: 400 3rem $primary_font;

        @media #{$large_mobile} {
            font-size: 2rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.7rem;
            margin-bottom: 0.2em;

        }

        @media #{$xs_mobile} {
            font-size: 1.5rem;
            margin-bottom: 0.2em;
        }
    }

    h2 {
        overflow: visible;
        color: #333;
        font: 300 1.8rem $secondary_font;


        @media #{$large_mobile} {
            font-size: 1.6rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.4rem;
        }

        @media #{$xs_mobile} {
            font-size: 1.3rem;
        }
    }

    .myButton {
        background-color: $primary_color;
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        color: $black_color;
        font: 400 18px $primary_font;
        margin-top: 4rem;

        padding: 16px 31px;
        text-decoration: none;
        transition: all 300ms;

        @media #{$xs_mobile, $sm_mobile} {
            margin-top: 2rem;

        }
    }

    .myButton:hover {
        background-color: $black_color;
        color: white;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

}


//MAIN CONTENT OF HOME PAGE
#home-content {


    h2 {
        text-align: center;
        font: 400 3rem $primary_font;

    }

    .showcase {
        display: flex;
        flex-flow: column wrap;
        background-color: #F7FFF7;

        .c-middle {
            background: $primary_color;
            height: 30rem;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;

            h4 {
                color: $black_color;
                font: 400 3rem $primary_font;

            }
        }

        .content {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 30rem;
            padding: 2rem;
            overflow: hidden;
            background-color: #fff;
            margin: 0;

            img {
                width: 30rem;
                float: left;
            }

            .text {
                display: flex;
                flex-flow: column;
                text-align: center;
                width: 35rem;

                h4 {
                    font: 400 3rem $primary_font;
                    color: $black_color;
                }

                p {
                    font: 300 1.5rem $secondary_font;

                }
            }



            //Media queries
            @media #{$xs_mobile, $sm_mobile, $large_mobile, $tab_device, $medium_device} {
                height: 30rem;
                margin: 1rem 0;
                overflow: hidden;
                padding: 1.5rem;

                img {
                    width: 20rem;
                }

                .text {
                    width: 32rem;

                    h4 {
                        font: 400 2rem $primary_font;
                        color: $black_color;
                        margin-bottom: 1rem;
                    }

                    p {
                        font: 300 1.3rem $secondary_font;

                    }
                }
            }

        }

        #c-right {
            display: flex;
            flex-flow: row-reverse wrap !important;
            background-color: #2D2926;
            margin: 0;

            .text {

                h4,
                p {
                    color: white;
                }
            }
        }

        .program-content {
            align-self: center;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 1rem;
            overflow: hidden;
            background-color: #fff;
            margin: 0;

            h3 {
                font: 400 3rem $primary_font;
                color: $black_color;
                overflow: hidden;
                text-align: center;
            }

            .cards-content {
                width: 100%;
                overflow: hidden;
                margin-top: 4rem;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;

                .card {
                    width: 20rem;
                    height: 15rem;
                    margin: 1.5rem;
                    text-align: center;
                    overflow: hidden;
                    border-radius: 5px;
                    background-color: white;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    transition: all 0.5s;

                    &:hover {
                        transform: scale(1.2);
                    }

                    img {
                        width: 100%;
                        height: 75%;
                    }

                    h5 {
                        font: 400 1.2rem $primary_font;
                    }

                    p {
                        font: 400 1rem $secondary_font;
                    }
                }

                @media #{$xs_mobile, $sm_mobile, $large_mobile} {
                    flex-flow: column wrap;
                    justify-content: center;
                    .card {
                       align-self: center;
                    }
                    

                }
            }
        }
    }
}