main {
    margin: 0;
    width: 100%;
    font-family: $primary_font;
    height: 60rem;
    background-image: url(/assets/img/landing-page/main-photo.png);
    background-position: center;
    background-size: cover;


    @media #{$sm_mobile, $xs_mobile} {
        background-image: none;
        background-color: #9AB0BB;
    }


}


//Logo for mobile
#mobile-brand {

    overflow: hidden;
    padding: 0;
    margin-top: 1em;
    margin-left: 1em;
    display: none;

    @media #{$xs_mobile, $sm_mobile, $large_mobile} {
        display: block;
    }

    a {
        font-family: $logo_font;
        font-weight: 900;
        font-size: 45px;
        padding: 0;
        color: #333;
        line-height: 1.2em;

        #spann {
            color: #fff;
            background: $primary_color;
            font-style: italic;
            font-weight: 500;

            #dot {
                color: $black_color;
                font-weight: 600;

            }
        }

    }
}



//JUMBOTRON
#jumbotron {
    margin-top: 18rem;
    margin-left: 3rem;
    text-align: center;
    align-items: center;
    float: left;
    width: 60%;

    @media #{$xs_mobile, $sm_mobile} {
        width: 75%;
        margin-top: 4rem;
    }

    @media #{$large_mobile} {

        margin-top: 6rem;
    }

    img {
        width: 7rem;
    }

    //Main image for mobile
    #mobile-main-image {
        display: flex;
        justify-content: center;

        object {
            display: block;
            display: none;
            margin-bottom: 1rem;

            @media #{$xs_mobile, $sm_mobile} {
                display: inline-block;
                margin-bottom: 1rem;
                width: 13rem;

            }

           
        }


    }

    h1 {
        color: $black_color;
        margin-bottom: 1em;
        overflow: visible;
        font-family: $secondary_font;
        font-size: 3rem;
        font-weight: 700;

        @media #{$large_mobile} {
            font-size: 2rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.7rem;
            margin-bottom: 0.2em;

        }

        @media #{$xs_mobile} {
            font-size: 1.5rem;
            margin-bottom: 0.2em;
        }
    }

    h2 {
        font-size: 2rem;

        font-weight: 400;
        overflow: visible;
        color: #333;
        font-family: $secondary_font;

        @media #{$large_mobile} {
            font-size: 1.6rem;
        }

        @media #{$sm_mobile} {
            font-size: 1.4rem;
        }

        @media #{$xs_mobile} {
            font-size: 1.3rem;
        }
    }
    .myButton {
        background-color: rgb(6, 192, 84);
        border-radius: 4px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.86);
        font-size: 18px;
        font-weight: bold;
        margin-top: 2rem;
        padding: 16px 31px;
        text-decoration: none;
        transition: all 300ms;

        @media #{$xs_mobile, $sm_mobile} {
            margin-top: 1rem;

        }
    }

    .myButton:hover {
        background-color: rgb(5, 170, 74);
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

}


#home-content {
    margin: 2em;
}
